<ion-grid color="primary">
    <ion-row>
        <ion-col col-12 col-md-6>
            <ion-list>

                <ion-item>
                    <ion-label floating>Nguồn nội dung</ion-label>
                    <ion-input [(ngModel)]="source" type="text"></ion-input>
                </ion-item>

            </ion-list>

            <div padding>
                <button block ion-button (click)=addSource()>Thêm</button>
            </div>
        </ion-col>
        <ion-col col-12 col-md-6>
            <form (ngSubmit)="pushData()">
                <ion-list>

                    <ion-item>
                        <ion-label>Nguồn</ion-label>
                        <ion-select>
                            <ion-option *ngFor="let item of allResource | async" [value]="item.key">{{item.val}}</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label floating>Chủ để</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Link url</ion-label>
                        <ion-input></ion-input>
                    </ion-item>

                </ion-list>

                <div padding>
                    <button block ion-button color="secondary" type="submit">Tạo nội dung</button>
                </div>
                <ul *ngFor="let item of allResource | async">
                    <li>{{item.key}} - {{item.val }} </li>
                </ul>
            </form>
        </ion-col>
    </ion-row>
</ion-grid>